.App {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  background-color: #f5e8c7;
  box-sizing: border-box;
  margin: 0; /* Add margin: 0 to ensure no default margin */
  padding: 0; /* Add padding: 0 to ensure no default padding */
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
 
  height: 100%;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: inherit;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}