
.pos
{
    margin-right: 20%;
    border:none;
    border-radius: 4px;
    background-color: #faf2dc;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15%;
}

h2
{
    margin-left: 15%;
}

.il
{
    font-size: larger;
}